.backdiv{
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
}
.jouer{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 100px ;
}
a{
  text-decoration: none;
  color: white;
}
.firstdiv:hover{
  cursor: pointer;
}
.hide{
  display: none;
}
.box {
  display: block;
  background-color: gray;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 300px;
  width: 500px;
  background-color: rgb(105,105,105);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box.hide {
  display: none;
}
.backdiv.hide{
  display: none;
}
.paragraphe{
  display: none;
}
.paragraphe{
  display: block;
}