:root {
	--timer-border-1:  black;
	--timer-fill-1: #00B300;

	--timer-border-2:  black;
	--timer-fill-2: #f57a22;

	--timer-border-3:  black;
	--timer-fill-3: #d2071e;

	--timer-inText: white;
	--timer-outText: black;

	--btn-size: 30px;
	--btn-line-size: calc(var(--btn-size)/2);
}

#controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
}

#playpause {
	display: block;
	width: var(--btn-size);
	height: var(--btn-size);
	cursor: pointer;
}

#playpause path {
	fill: black;
}

#timer {
	position: relative;
	width: 64px;
	height: 64px;
	display: block;
}

#timer svg {
	top: 0px;
	left: 0px;
	width: 64px;
	height: 64px;
}

#timer circle {
	fill: transparent;
	stroke: var(--timer-border-1);
	transition: stroke 1s;
}

#timer.midTime circle {
	stroke: var(--timer-border-2);
}

#timer.lowTime circle {
	stroke: var(--timer-border-3);
}

#timer path {
	fill: var(--timer-fill-1);
	transition: fill 1s;
}

#timer.midTime path {
	fill: var(--timer-fill-2);
}

#timer.lowTime path {
	fill: var(--timer-fill-3);
}

#timer .text {
	position: absolute;
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 175%;
	color: var(--timer-outText);
}

#timer .text.white {
	color: var(--timer-inText);
	clip-path: url(#clip);
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}
.rgl{
	background-color: black;
	border: none;
	color: #ffd119;
}
.rglmid{
	width: fit-content;
}
.regles{
	display: block;
	background-color: black;
	color: #ffd119;
	vertical-align: middle;
	width: 200px;
	position: absolute;
	top: 36px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid black;
	z-index: 1;
}
.hide{
	display: none;
}
.exit{
	color: #ffd119;
	background-color: black;
	font-size: 20px;
	border: 1px solid #ffd119;
}
.parentregles{
	position: relative;
}
