.bouton {
    width: 500px;
    height: 200px;
    border: 1px solid black;
	color: whitesmoke;
}
.bouton:hover{
    color: black;
    border: 3px solid black;
}
#arrowPlay {
    background-color: black;
    color: #ffd119;
    border: none;
}
#arrowPlay:hover {
    background-color: #ffd119;
    color: black;
}

#play * {
    width: 400px;
    color: whitesmoke;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
}
#play{
    position: relative;
    top: -90px;
    cursor: pointer;
}


#functions{
    margin-left: 0 !important; 
}
#mid{
    width: fit-content;
}
.emo{
    font-weight: bold;
    font-size: 2em;
}

#answer{
    text-align: center;
    margin-right: 25%;
    margin-left: 25% ;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
}
.answerGood{
    color: #00B300;
    background-color: darkgreen;
}
.answerWrong{
    color: red;
    background-color: darkred;
}
.invisible{
    background-color: transparent;
    color: transparent;
}
.firstdivdef{
    display: flex;
    justify-content: center;
}
.def{
    background-color: black;
    color: #ffd119;
}
.divdef{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: black;
}
