.bouton {
    width: 500px;
    height: 200px;
    border: 1px solid black;
	color: whitesmoke;
}

.choix_sec_js:hover { background-color: #ffd119; color: black;}
.choix_sec_js:active { background-color: #ffd119!important; color: black }


#arrowPlay {
    background-color: black;
    color: #ffd119;
    border: none;
}
#arrowPlay:hover {
    background-color: #ffd119;
    color: black;
}

#play * {
    width: 400px;
    color: whitesmoke;
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    top: -90px;
}

#functions{
    margin-left: 0 !important; 
}
#mid{
    width: fit-content;
}
.emo{
    font-weight: bold;
    font-size: 2em;
}